.line {

    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0
}
.section3 .line {
    background-color: #ccc
}

.section3 .line1 {
    width: 2px;
    height: 0px;
    top: 70rem;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1
}

.section3 .line2 {
    width: 0px;
    height: 2px;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    top: 188px;
    left: 511px;
    margin: 0
}

